.page-content {
   color: #1b1c21;
   font-family: "TT Lakes", sans-serif;
   max-width: 1120px;
   margin: 0 auto 0 auto;
   box-sizing: border-box;
}

/* @media (min-width: 1440px) {
   .page-content {max-width: 85%;}
} */

body {
   margin: 0;
}



.link {
   text-decoration: none;
   color: inherit;
}

button {
   background-color: inherit;
   border: none;
}


/* Page-header */

/* mobile-menu */

.mobile-menu {
   list-style-type: none;
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   padding: 1rem 0;
   margin: 0;
   border-bottom: 1px solid #d9fff5;
}

.mobile-menu__element {
   transition: 0.3s ease;
}

.mobile-menu__element:first-of-type {
   margin-left: 0.5rem;
}

.mobile-menu__element:last-of-type {
   margin-right: 0.5rem;
}

.mobile-menu__element:hover:not(.mobile-menu__element--passive) {
   transform: scale(1.2);
}

.mobile-menu__element--hidden {
   display: none;
}

/* mobile menu divider and buttons */

.mobile-menu__divider {
   content: url(images/icons/divider.svg);
}

.hamburger-btn__container {
   content: url(images/icons/burger.svg);
}

.call-btn__container {
   content: url(images/icons/call.svg);
}

.chat-btn__container {
   content: url(images/icons/chat.svg);
}

.profile-btn__container {
   content: url(images/icons/profile.svg);
}

.repair-order-btn__container {
   content: url(images/icons/repair.svg);
}

.check-status-btn__container {
   content: url(images/icons/checkstatus.svg);
}

@media (min-width: 768px) {
   
   .mobile-menu__element--hidden {
      display: block;
   }

   .mobile-menu__element--hidden768 {
      display: none;
   }

   .mobile-menu__element {
      margin: 0 0.6rem;
   }

   .mobile-menu__company-logo {
      margin-right: auto;
   }

   .mobile-menu__element:first-of-type {
      margin-left: 1rem;
   }
   
   .mobile-menu__element:last-of-type {
      margin-right: 1rem;
   }

}

@media (min-width: 1120px) {
   /* mobile-menu */

   .mobile-menu {
      display: none;
   }
}


/* Info-section */

/* Info-section header */
.page-info__header {
   display: flex;
   align-items: center;
}

.page-info__headline {
   font-size: 1.75rem;
   margin: 1.5rem 1rem;
}

/* Info-section nav bar */

.page-info__nav-bar {
   margin: 0 1rem;
}

.nav-bar__list {
   list-style-type: none;
   margin: 0;
   min-width: 90%;
   display: flex;
   justify-content: flex-start;
   padding: 0;
   overflow: auto;
}

.nav-bar__list-element {
   font-size: 1rem;
   line-height: 1.5;
   color: #7e7e82;
   min-width: fit-content;
   padding: 0.35rem 0.9rem;
   left: 0;
   text-align: left;
   margin: 3px;
   margin-left: 0;
   border: 2px solid transparent;
}

.nav-bar__list-element--active {
   border: 2px solid #b8ffec;
   border-radius: 6px;
}

.nav-bar__list-element--hidden {
   display: none;
}

/* page-info description */

.description {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

.description__element {
   flex-grow: 1;
}

.description__text {
   font-size: 0.9rem;
   margin-right: 1rem;
   margin-top: 1.5rem;
}

.description__text--flex {
   display: flex;
   font-size: 1rem;
   font-weight: 500;
   margin-bottom: 1rem;
}

.description__text--flex a {
   margin-left: 1rem;
}

.description__text--flex a:hover {
   color: #41f6d7;
}

.description__element.description__img {
   min-width: 320px;
   max-width: 530px;
}

.description__img img {
   width: 100%;
}

.description__text--hidden {
   display: none;
}

/* high-res header */

.high-res-header__element--hidden {
   display: none;
}

@media (max-width: 767.9px) {
   .description__text {
      margin-left: 1rem;
   }

   .nav-bar__list-element:hover:not(.nav-bar__list-element--active) {
      border: 2px solid #b8ffec;
      border-radius: 6px;
   }
}

@media (min-width: 768px) {
   
   /* page-info__nav-bar */

   .page-info__nav-bar {
      margin: 0 1.5rem;
   }

   .nav-bar__list-element:hover:not(.nav-bar__list-element--active) {
      border: 2px solid #b8ffec;
      border-radius: 6px;
   }

   /* page-info description */

   .description {
      flex-wrap: wrap;
      margin: 0 1.5rem;
   }

   .description__element {
      flex-grow: 1;
      max-width: 50%;
   }

   .description__text--hidden {
      display: block;
   }

   .description__text--768hidden {
      display: none;
   }
}

@media (min-width: 1120px) {
   /* UI - menu */

   .mobile-menu {
      display: none;
   }

   /* Info-section nav bar */

   .page-info__nav-bar {
      margin: 0 2rem;
   }

   .nav-bar__list {
      flex-wrap: wrap;
      justify-content: space-between;
   }

   .nav-bar__list-element--hidden {
      display: block;
   }

   .nav-bar__list-element--1120-hidden {
      display: none;
   }

   .nav-bar__list-element--1120-active {
      border: 2px solid #b8ffec;
      border-radius: 6px;
   }

   .nav-bar__list-element--active {
      border: 2px solid transparent;
   }

   .nav-bar__list-element:hover {
      border: 2px solid #b8ffec;
      border-radius: 6px;
   }

   /* page-info description */
   .description {
      flex-wrap: nowrap;
      margin: 0 2rem;
   }

   .description__element {
      flex-grow: 1;
      max-width: 50%;
   }

   .description__text--hidden {
      display: block;
   }

   .description__text--768hidden {
      display: inline;
   }

   /* high-res header */

   .high-res-header {
      display: flex;
      justify-content: space-between;
      margin-right: 2rem;
   }

   .high-res-header__element--hidden {
      display: block;
   }

   .high-res-header__menu {
      width: 100%;
      padding: 0;
      list-style: none;
      display: flex;
      justify-content: space-between;
   }

   .high-res-header__btn {
      all: inherit;
      cursor: pointer;
      display: flex;
      align-items: center;
      margin-right: 1rem;
   }

   .high-res-header__btn:hover {
      color: #ff3e79;
   }

   .high-res-header__btn-desc {
      padding-right: 0.5rem;
   }
}


