html {
   box-sizing: border-box;
}

body {
   color: #1B1C21;
   margin: 0;
   font-family: "TT Lakes";
}


.link {
   text-decoration: none;
   color: inherit;
}

/* Page-header */

/* UI-menu */


.ui-menu {
   list-style-type: none;
   display: flex;
   justify-content: space-around;
   align-items: center;
   width: 100%;
   padding: 0;
   margin: 0;
}

.ui-menu__first-group {
   flex-grow: 1;
   display: flex;
   justify-content: space-around;
   align-items: center;
}



.ui-menu__second-group {
   flex-grow: 2;
   display: flex;
   justify-content: space-around;
}

.ui-menu__element--hidden {
   display: none;
}


/* Info-section */

/* Info-section header */
.page-info__header {
   display: flex;
   align-items: center;
}

.page-info__highlight-img {
   position: absolute;
   left: 0;
}

.page-info__headline {
   font-size: 1.75rem;
   margin: 1.5rem 1rem;
}


/* Info-section nav bar */

.page-info__nav-bar {
   margin: 0 1rem;
}

.page-info__nav-ul {
   list-style-type: none;
}

.page-info__nav-ul {
   min-width: 90%;
   display: flex;
   justify-content: flex-start;
   padding: 0;
   overflow: auto;
}

.page-info__ul-item {
   font-size: 1rem;
   line-height: 1.5;
   min-width: fit-content;
   padding: 0.35rem 0.9rem;
   left: 0;
   text-align: left;
}




.page-info__ul-item a {
   text-decoration: none;
   color: #7E7E82;
   
}

.page-info__ul-item--active {
   border: 2px solid #B8FFEC;
   border-radius: 6px;
}

.page-info__ul-item--hidden {
   display: none;
}


/* page-info description */


.description {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   margin-left: 1rem;
}

.description__element {
   flex-grow: 1;
}

.description__text {
   font-size: 0.9rem;
   margin-right: 1rem;
   margin-top: 1.5rem;
}

.description__text--flex {
   display: flex;
   font-size: 1rem;
   font-weight: 500;
   margin: 0;
   margin-bottom: 1rem;
}

.description__text--flex p {
   margin: 0;
   margin-left: 1rem;
}


.description__element.description__img {
   min-width: 320px;
   max-width: 530px;
}

.description__img img {
   min-width: 320px;
   max-width: 530px;
   width: 100%;
}


.description__text--hidden {
   display: none;
}


/* high-res header */

.high-res-header__element--hidden {
   display: none;
}


@media (min-width: 768px) and (max-width: 1119.98px) {
   
   
   
   .ui-menu {
      justify-content: space-between;
   }


   .ui-menu__first-group {
      flex-grow: 0;
      width: 25%;
   }

   .ui-menu__second-group {
      flex-grow: 0;
      width: 40%;
   }
   
   .ui-menu__element--hidden768 {
      display: none;
   }

   .ui-menu__element--hidden {
      display: block;
   }

   /* page-info__nav-bar */

   .page-info__nav-bar {
      margin: 0 1.5rem;
   }


   /* page-info description */

   .description {
      flex-wrap: wrap;
      margin: 0 1.5rem;
   }

   .description__element {
      flex-grow: 1;
      max-width: 50%;
   }

   .description__text--hidden {
      display: block;
   }

   .description__text--768hidden {
      display: none;
   }

}




@media (min-width: 1120px) {
   .ui-menu {
      display: none;
   }


   /* Info-section nav bar */

   .page-info__nav-bar {
      margin: 0 2rem;
   }

   .page-info__nav-ul {
      flex-wrap: wrap;
      justify-content: space-between;
   }

   .page-info__ul-item {
      flex-basis: 13%;
   }

   .page-info__ul-item--hidden {
      display: block;
   }

   .page-info__ul-item--1120-hidden {
      display: none;
   }

   .page-info__ul-item--1120-active {
      border: 2px solid #B8FFEC;
      border-radius: 6px;
   }

   .page-info__ul-item--active {
      border: unset;
   }



   /* page-info description */
   .description {
      flex-wrap: nowrap;
      margin: 0 2rem;
   }


   .description__element {
      flex-grow: 1;
      max-width: 50%;
   }

   .description__text--hidden {
      display: block;
   }

   .description__text--768hidden {
      display: inline;
   }


   /* high-res header */

   .high-res-header {
      display: flex;
      justify-content: space-between;
      margin-right: 2rem;
   }

   .high-res-header__element--hidden {
      display: block;
   }

   .high-res-header__element--hidden menu {
      width: 355px;
      padding: 0;
      list-style: none;
      display: flex;
      justify-content: space-between;
   }


   .high-res-header__element--hidden menu li a {
      color: #1B1C21;
      display: flex;
      align-items: center;
      justify-content: space-between;
   }

   .high-res-header__element--hidden menu span {
      padding-right: 0.5rem;
   }

   .high-res-header__element--hidden a {
      text-decoration: none;

   }
}