.body-content {
   margin: 0;
}

.button {
   font-family: "TT Lakes", sans-serif;
   font-size: 1rem;
   background-color: inherit;
   border: none;
   padding: 0;
   cursor: pointer;
}

.burger-menu {
   font-family: "TT Lakes", sans-serif;
   width: 320px;
   height: 676px;
   margin-right: auto;
   box-sizing: border-box;
   box-shadow: 10px 0 20px -10px #0e185030;
   display: flex;
   flex-direction: column;
}

@media (min-width: 768px) {
   .burger-menu {height: 1024px;}
}

.link {
   text-decoration: none;
   color: inherit;
}

/* Opened burger menu */

/* mobile menu */

.mobile-menu {
   list-style-type: none;
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   padding: 1rem 0;
   margin: 0;
}

.company-logo {
   margin-right: auto;
}

.mobile-menu__element:first-of-type {
   margin-left: 1rem;
}

.mobile-menu__element:last-of-type {
   margin-right: 1rem;
}

@media (min-width: 360px) {
   .mobile-menu__element:first-of-type {
      margin-left: 1.5rem;
   }
   
   .mobile-menu__element:last-of-type {
      margin-right: 1.5rem;
   }
   
}

.mobile-menu__button {
   transition: 0.3s ease;
}

.mobile-menu__button:hover {
   transform: scale(1.2);
}

.mobile-menu__element {
   margin: 0 0.6rem;
}




/* burger menu nav-bar */

.burger-menu__nav-bar {
   margin-top: 0px;
   margin-bottom: auto;
}

@media (min-width: 768px) {
   .burger-menu__nav-bar {margin-top: 24px}
}

.burger-menu__nav-list {
   list-style: none;
   margin: 0;
   padding: 0;
   position: relative;
}

.burger-menu__nav-link {
   margin: 0;
   padding: 0;
   height: 36px;
   padding: 4px 1rem;
   transition: font-size 0.3s;
}

@media (min-width: 360px) {
   .burger-menu__nav-link {padding: 4px 1.5rem;}
}

@media (min-width: 768px) {
   .burger-menu__nav-link {padding: 8px 1.5rem;}
}



.burger-menu__nav-link {
   position: relative;
}

.burger-menu__nav-link--active a {
   pointer-events: none;
   color: #7e7e82;
}

.burger-menu__nav-link--active::before {
   content: url(../images/icons/highlight.svg);
   position: absolute;
   left: 0;
   height: 32px;
   top: -5px;
}

.burger-menu__nav-link:hover:not(.burger-menu__nav-link--active) {
   color: #41f6d7;
   font-size: 1.2rem;
   text-decoration: underline;
}


/* burger-menu__footer */

.burger-menu__footer {
   margin-left: 1rem;
   margin-bottom: 2rem;
}

@media (min-width: 360px) {
   .burger-menu__footer {margin-left: 1.5rem}
}

/* mobile-footer__btns-container */

.mobile-footer__btns-container {
   list-style: none;
   display: flex;
   padding: 0;
   margin: 0;
}

.mobile-footer__li-item {
   margin-right: 16px;
}

/* mobile footer email */

.mobile-footer__email {
   display: block;
   position: relative;
   width: fit-content;
   margin: 16px 0 0 0;
   padding-bottom: 20px;
   transition: color 0.2s;
}

.mobile-footer__email::after {
   content: "";
   width: 100%;
   position: absolute;
   border-bottom: solid #FF3E79;
   border-width: 0;
   left: 0px;
   top: 1.7rem;
   transition: border-width 0.2s ease-out, transform 0.2s ease;
   /* display: none; */
}

.mobile-footer__email:hover {
   color: #FF3E79;
}

.mobile-footer__email:hover::after {
   border-width: 2px;
   transform: translateY(-0.5rem);
}

.mobile-menu__phone-number {
   font-size: 1.5rem;
   font-weight: bold;
   margin: 0;
   margin-bottom: 0.5rem;
}

@media (min-width: 768px) {
   .mobile-menu__phone-number {margin-bottom: 2rem;}
}

/* mobile-footer lang switcher */

.mobile-footer__lang-switch {
   list-style: none;
   padding: 0;
   margin: 0;
   display: flex;
}

.lang-switch__btn-container {
   margin-right: 0.5rem;
}

.lang-switch-btn {
   transition: color 0.3s, transform 150ms;
}

.lang-switch-btn--active {
   color: #7E7E82;
   pointer-events: none;
}

.lang-switch-btn:hover:not(.lang-switch-btn--active) {
   color: #FF3E79;
   transform: scale(1.1)
}



/* button-icons */

.close-menu-btn__container {
   content: url(../images/icons/burger-close.svg);
}

.search-btn__container {
   content: url(../images/icons/search.svg);
}

.call-btn__container {
   content: url(../images/icons/call.svg);
}

.chat-btn__container {
   content: url(../images/icons/chat.svg);
}

.profile-btn__container {
   content: url(../images/icons/profile.svg);
}