*, *::after, *::before {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.body-content {
   font-family: "TT Lakes", sans-serif;
   
}

.button {
   border: unset;
   font-size: inherit;
   font-family: inherit;
   background-color: unset;
   border: none;
   padding: 0;
   cursor: pointer;
}


.body-content__repair-brands {
   margin-left: 1rem;
}


.repair-brands__heading {
   font-size: 1rem;
   font-weight: 300;
   color: #7E7E82;
   text-transform: uppercase;
   margin-bottom: 2rem;
   margin-top: 1rem;
}


.repair-brands__list-item {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 16px;
   height: 72px;
   width: 240px;
   border: 1px solid #EAEAEA;
   border-radius: 6px;
}


.swiper-pagination {
   position: static;
   margin-top: 16px;
}

.swiper-pagination-bullet {
   width: 12px;
   height: 12px;
   background-color: #b6a8a8;
   margin-right: 10px !important;
}

.swiper-pagination-bullet-active {
   background-color: #B5B6BC;
}

.repair-brands__list-item--hidden {
   display: none;
}

.repair-brands__list-item:not(.repair-brands__list-item:last-of-type) {
   margin-right: 16px;
}

.go-button {
   transition: 0.3s ease;
}

.go-button:hover {
   transform: scale(1.2);
}


.go-button__img-container {
   content: url(../images/icons/go.svg);
}